body {
    background-color: #F2F2F2;
}

img {
    display: inline;
    border-radius: 10px;
}

#about {
    width: fit-content;
    padding: 10px 70px;
    text-align: center;
    background-color: #83ce00;
    color: #000022;
    margin: 50px auto;
    font-size: 28px;
    font-weight: 700;


    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
}

.questions{
    color: #343434;
}

#why-us{
    font-size: 60px;
}

.sub-section-title{
    font-size: 34px;
    margin-bottom: 40px;
}

.row {
    margin: 50px 0;
}

.facts {
    font-size: 18px;
    border: solid 1px #000022;
    color: #000022;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px;
    background-color: #E0EEEE;
}

/*Greens
color: #435D36
background-color: #C5E3BF
*/

@media (max-width: 1200px){

    .sub-section-title {
        font-size: 30px;
    }

    .facts {
        padding: 30px;
    }

}

@media (max-width:992px){

    .sub-section-title {
      font-size: 30px;
    }

}

@media (max-width:580px){

    #why-us{
        font-size: 45px;
        text-align: center;
    }

}

@media (max-width:460px) {

    #why-us{
        font-size: 40px;
    }

}