body {
    background-color: #F2F2F2;
}

#contact-title {
    width: fit-content;
    padding: 10px 70px;
    text-align: center;
    background-color: #83ce00;
    color: #000022;
    margin: 50px auto;
    font-size: 28px;
    font-weight: 700;


    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
}



.form-group {
    width: 48%;
}

#message {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#email-input,
#name-input{
    width: 100%;
}

#email-input{
    margin-left: 25px;
}

#message{
    margin: 25px 0 20px;
    resize: none;
}

#map {
    height: 500px;
    text-align: center;
    margin: 50px 0;
}

iframe {
    height: 100%;
    width: 100%;
}

button {
    padding: 10px 30px;
    background-color: #83ce00;
    color: #000022;
    font-size: 22px;
    border-radius: 10px;
}

#button-row{
    text-align: center;
}

@media (max-width: 768px){

  .form-group {
    width: 100%;
  }

  #email-input{
    margin-left: 0;
  }

}