html, body {
  height: 100%;
  background:
    /* faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.20),
      rgba(0, 0, 0, 0.20)
    ),
    /* bottom, image */
    url("aquarium.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 2;
  background-attachment: fixed;
}

/*------------------------Header----------------------------*/

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  border: transparent;
  color: white;
  height: 21%;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  border-bottom: solid 3px #0f0c1f;
}

a#active {
  color: #0f0c1f;
}


.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.active  {
  background-color: none !important;
}

ul.navbar-right li a {
  padding: 20px 8px;
  font-size: 18px;
  box-sizing: border-box;
  margin-top: 50px;
  font-weight: bold;
  color: white;
}

img#logo {
  width: 200px;
  box-sizing: border-box;
  z-index: 1;
  padding: 10px;
}

a.navbar-brand {
  height: 200px;
}

button#hamburger {
  margin: 40px 0 0 0;
  padding: 20px 22px 23px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 35px;
  margin-top: 7px;
  height: 4px;
  background-color: white;
}

/*------------------Body----------------------*/

#body-container {
  width: 90%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: 59%;
  color: white;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#shop-button {
  padding: 15px 35px;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(#009957, #83ce00);
  color: white;
  border: none;
  margin: 0 auto;
}

button#shop-button:hover {
  background-color: #83ce00;
}

div.row#button-row {
  align-self: center;
  text-align: center;
  margin: 0 0 0 20px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 34px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 700;
  padding: 0 15px;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  align-self: flex-end;
  -webkit-align-self:flex-end;
}

.footer-title div {
  padding: 5px;
  text-shadow: 2px 2px 8px #232323;
}

#footer-title-1 {
  width: 50%;
  padding-left: 90px;

}

#footer-title-2 {
 text-align: center;
 width: 50%;
 padding-left: 30px;
}

/*--------------------Footer------------------------*/

footer#content-footer > div#container-footer.container {
  width: 90%;

  
  height: 100%;

  display: flex !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column !important;
  -webkit-flex-direction: column;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

   justify-content: center;
   -webkit-justify-content: center;

}

#social-media-links div a i {
  padding: 13px;
  font-size: 40px;
  color: #83ce00;
  background: white;
  border-radius: 100%;
  margin-left: 20px;
}

#social-media-links > div > a > i.fa-instagram:hover,
#social-media-links > div > a > i.fa-facebook-square:hover {
  background-color: #83ce00;
  color: white;
}

footer#content-footer {
  width: auto;
  background-color: #000022;
  height: 20%;
  color: white;
}

.footer-divs {
  color: white;
  font-size: 16px;
}

.footer-divs a i {
  color: white;
  font-size: 40px;
}

#address,
#phone-number {
  display: inline-block;
  padding-left: 10px;
}

#email-address {
  letter-spacing: 1.3px;
  font-size: 16px;
  display: inline-block;
  padding: 10px
}

.fa-phone,
.fa-envelope {
  padding-top: 10px;
}

#social-media-links {
  height: 60%;
  width: 50%;
}

#social-media-links div {
  text-align: center;
}

#first {
  padding: 5px;
}

#body-container > div {
  width: 100%;
}

.body-button {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.col-sm-offset-4 {
  padding: 0;
}

.short {
  display: inline-block;
  margin-left: 15px;
}

#contact-us {
  height: 60%;
  margin-bottom: 30px;
  width: 50%;
}
  
.longer {
  margin: 20px 0 0 30px;
}



@media (max-width: 1150px) {

  .container-fluid > .container {
    width: 90%;
  }

}

@media (max-width: 900px) {

  .container-fluid > .container {
    width: 95%;
  }

  img#logo {
    width: 22vw;
    box-sizing: border-box;
    z-index: 1;
    padding: 10px;
}

  a.navbar-brand {
    height: 22vh;
  }

}

@media (max-width: 770px) {

  .navbar-default {
    background-color: #000043;
    height: 155px;
  }

  .navbar-header {
    height: 155px;
  }

  img#logo {
    width: 155px;
    /*height: 130px;
    box-sizing: border-box;*/
  }


  a.navbar-brand {
    height: 25vh;
  }

  .container-fluid > .container {
    width: 90%;
  }

  #body-container {
    height: 62%;
  }

  .h {
    display: none;
  }

  div#button-row.row {
    align-self: center;
    -webkit-align-self: center;
  }

  body > footer#content-footer {
    flex-wrap: wrap;
    height: 290px;
  }


  footer#content-footer > div#container-footer.container {
    flex-direction: column-reverse !important;
  }

  #container-footer > div {
    height: fit-content;
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  div#container-footer > div#social-media-links > div > a > i.fa.fa-instagram.fa-lg {
    margin-left: 110px;
  }

  #full-phone-div {
    margin-left: 45px;
  }

  #first {
    margin-right: 45px;
  }


}

@media (max-width: 550px) {

  .navbar-default {
    height: 120px;
  }

  .container-fluid > .container {
    width: 100%;
  }

  a.navbar-brand {
    height: 100px;
  }

  img#logo {
    width: 120px;
  }

  button#hamburger {
    margin: 20px 0 0 0;
  }

  body > footer#content-footer {
    height: 310px;
    width: 100%;
  }

  .navbar-header {
    height: 120px;
  }

  footer#content-footer > div#container-footer.container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

}

@media (max-width: 415px) {

  div#contact-us div.short {
    margin-left: 5px;
  }

  div.footer-divs.longer {
    margin-left: 10px;
  }

  #first {
    margin: 0;
  }

}

@media (max-width: 376px) {

  div#container-footer.container.follow > div#contact-us > div#full-phone-div.footer-divs.short {
    margin: 0 7px 0 0;
  }

  div#container-footer.container.follow > div#contact-us > a > div#first {
    margin-right: 10px;
  }

  div#container-footer.container.follow > div#contact-us > div#full-phone-div.footer-divs.short {
    margin-left: 10px;
  }

  div#container-footer.container.follow > div#contact-us > div.footer-divs.longer {
    margin-top: 0;
  }

}

@media (max-width: 360px) {

  div#container-footer > div#social-media-links > div > a > i.fa.fa-instagram.fa-lg {
    margin-left: 80px;
  }

}

@media (max-width: 321px) {

  footer#content-footer > div#container-footer > div#contact-us {
    margin: 0 !important;
  }

}